.git
.github
.appdata
.localappdata
.vscode
node_modules
app/node_modules
agent/node_modules
contracts/node_modules
app/.next
app/out
app/dist
agent/dist
contracts/cache
contracts/out
contracts/broadcast
contracts/artifacts
contracts/out_fast
coverage
dist
build
.env
.env.*
*.log
*.tsbuildinfo
